*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

div{
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 40px;
    font-weight: bolder;
    font-size: 50px;
}

button{
    width: 100px;
    height: 50px;
    border-radius: 25px;
    cursor: pointer;
}